.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 80%;
  height: 70px;
  padding: 0 2%;
  /*border-bottom: 1px solid #eaeaea;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: 'Reem Kufi', sans-serif;
}

.nav {
  width: 32%;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.main {
  /*padding: 5rem 0;*/
  display: flex;
  flex-grow: 1;
}

.footer {
  width: 80%;
  height: 80px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
